<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}

    <div class="container custom-container">
        <h2 class="custom-heading">About us</h2>

        <!-- Draw decorative layout block-->
        <div class="deco-layout-block"></div>        
        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur quisquam blanditiis quo laborum fugiat libero ipsum, aspernatur architecto repellendus expedita earum illum at facere sed ullam. Dignissimos eos rem tempora.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis, dolores? Assumenda architecto animi fugiat voluptatem itaque atque neque quisquam error velit. Cupiditate, dolor dignissimos laboriosam voluptas aspernatur tenetur sit facilis deleniti tempora quia veritatis eum et reprehenderit error enim at ex officia ea praesentium ipsam? Nihil perferendis earum mollitia id?</p>
    </div>

    {% endblock %}
</body>
</html>