{% if projects %}
    <div class="row align-items-center py-2">
      <div class="col-auto mr-auto"><p>{{ projects.count }} project(s)</p></div>
    </div>
    
    <!-- Table -->
    <div class="table-responsive">
      <table class="table table-striped table-responsive">
        <thead>
          <tr>
              <th scope="col" style="vertical-align: middle;"><a>Author(s)</a></th>
              <th scope="col" style="vertical-align: middle;"><a>Project Title</a></th>
              <th scope="col" style="vertical-align: middle;"><a>Division</a></th>
              <th scope="col" style="vertical-align: middle;"><a>Mentor(s)</a></th>
              <th scope="col" style="vertical-align: middle; min-width: 4.8rem;"><a>Year</a></th>
            <th scope="col" ><a>Presentation Format</a></th>
          </tr>
        </thead>
        <tbody>
          <form action="/browse/" method="get">
          {% for project in projects %}
            <tr>
              <td>
              {% for author in project.author.all %}
                  {{ author.full_name }}
                {% endfor %}
              </td>
              <td><a href="{% url 'rsprojects' project.ext_id %}">{{ project.title }}</a></td>
              <td>{{ project.get_division_display }}</a></td>
              <td>{{ project.mentor }}</td>
              <td>{{ project.year }}</td>
              <td>{{ project.get_presentation_format_display }}</td>
            </tr>
            {% endfor %}
          </form>
        </tbody>
    </table>
    </div>
{% else %}
<p>No project matched your search criteria</p>
{% endif %}