{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Archiver Project | Browse Projects</title>
</head>
<body class="row">
    {% block content %}
 
  <div class="wrapper col-md-3">
    <!-- Sidebar -->
    <nav id="sidebar">
        <form action="/browse/" method="get">
          
          <ul class="list-unstyled components sidebar-sticky pt-1 mt-4">
            
            <!-- Listing based on academic divisions on 
              http://www.orangecoastcollege.edu/academics/divisions/Pages/default.aspx -->
            
            <!-- Business & Computing Department  -->
            <li class="pl-3">
              <a href="#pageSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Business & Computing</a>
              <ul class="collapse list-unstyled pl-3" id="pageSubmenu1">
                <li>
                  <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input categoricalCheck" value="accounting">
                      <label class="form-check-label " for="accounting">Accounting</label>
                  </div>                    
                </li>

                <li>
                  <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input categoricalCheck" value="business">
                      <label class="form-check-label " for="business">Business</label>
                  </div>                    
                </li>

                <li>
                  <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input categoricalCheck" value="computer information systems">
                      <label class="form-check-label " for="computer information systems">Computer Information Systems</label>
                  </div>                    
                </li>

                <li>
                  <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input categoricalCheck" value="computer science">
                      <label class="form-check-label " for="computer science">Computer Science</label>
                  </div>                    
                </li>

                <li>
                  <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input categoricalCheck" value="leadership studies">
                      <label class="form-check-label " for="leadership studies">Leadership Studies</label>
                  </div>                    
                </li>

                <li>
                  <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input categoricalCheck" value="management">
                      <label class="form-check-label " for="management">Management</label>
                  </div>                    
                </li>

                <li>
                  <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input categoricalCheck" value="marketing">
                      <label class="form-check-label " for="marketing">Marketing</label>
                  </div>                    
                </li>

                <li>
                  <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input categoricalCheck" value="real estate">
                      <label class="form-check-label " for="real estate">Real Estate</label>
                  </div>                    
                </li>
              </ul>
            </li>
            <!-- Consumer & Health Sciences Department  -->
            <li class="pl-3">
              <a href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Consumer & Health Sciences</a>
              <ul class="collapse list-unstyled pl-3" id="pageSubmenu2">
                <li>
                  <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input categoricalCheck" value="allied health">
                      <label class="form-check-label " for="allied health">Allied Health</label>
                  </div>                    
                </li>

                <li>
                  <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input categoricalCheck" value="family & consumer sciences">
                      <label class="form-check-label " for="family & consumer sciences">Family & Consumer Sciences</label>
                  </div>                    
                </li>

                <li>
                  <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input categoricalCheck" value="hospitality">
                      <label class="form-check-label " for="hospitality">Hospitality</label>
                  </div>                    
                </li>
              </ul>
            </li>
            <!-- Kinesiology & Athletics Department  -->
            <li class="pl-3">
              <a href="#pageSubmenu3" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Kinesiology & Athletics</a>
              <ul class="collapse list-unstyled pl-3" id="pageSubmenu3">
                <li>
                  <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input categoricalCheck" value="kinesiology & athletics">
                      <label class="form-check-label " for="kinesiology & athletics">Kinesiology & Athletics</label>
                  </div>                    
                </li>
              </ul>
            </li>
            <!-- Literature & Languages Department  -->
            <li class="pl-3">
              <a href="#pageSubmenu4" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Literature & Languages</a>
              <ul class="collapse list-unstyled pl-3" id="pageSubmenu4">
                <li>
                  <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input categoricalCheck" value="communication studies">
                      <label class="form-check-label " for="communication studies">Communication Studies</label>
                  </div>                    
                </li>
                <li>
                  <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input categoricalCheck" value="english">
                      <label class="form-check-label " for="english">English</label>
                  </div>                    
                </li>
                <li>
                  <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input categoricalCheck" value="world languages">
                      <label class="form-check-label " for="world languages">World Languages</label>
                  </div>                    
                </li>
              </ul>
            </li>
            <!-- Mathematics & Sciences Department  -->
            <li class="pl-3">
              <a href="#pageSubmenu5" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Mathematics & Sciences</a>
              <ul class="collapse list-unstyled pl-3" id="pageSubmenu5">
                <li>
                  <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input categoricalCheck" value="astronomy">
                      <label class="form-check-label " for="astronomy">Astronomy</label>
                  </div>                    
                </li>
                <li>
                  <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input categoricalCheck" value="biological sciences">
                      <label class="form-check-label " for="biological sciences">Biological Sciences</label>
                  </div>                    
                </li>
                <li>
                  <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input categoricalCheck" value="chemistry">
                      <label class="form-check-label " for="chemistry">Chemistry</label>
                  </div>                    
                </li>
                <li>
                  <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input categoricalCheck" value="ecology">
                      <label class="form-check-label " for="ecology">Ecology</label>
                  </div>                    
                </li>
                <li>
                  <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input categoricalCheck" value="engineering">
                      <label class="form-check-label " for="engineering">Engineering</label>
                  </div>                    
                </li>
                <li>
                  <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input categoricalCheck" value="geology">
                      <label class="form-check-label " for="geology">Geology</label>
                  </div>                    
                </li>
                <li>
                  <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input categoricalCheck" value="horticulture">
                      <label class="form-check-label " for="horticulture">Horticulture</label>
                  </div>                    
                </li>
                <li>
                  <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input categoricalCheck" value="marine science">
                      <label class="form-check-label " for="marine science">Marine Science</label>
                  </div>                    
                </li>
                <li>
                  <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input categoricalCheck" value="mathematics">
                      <label class="form-check-label " for="mathematics">Mathematics</label>
                  </div>                    
                </li>
                <li>
                  <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input categoricalCheck" value="natural science">
                      <label class="form-check-label " for="natural science">Natural Science</label>
                  </div>                    
                </li>
                <li>
                  <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input categoricalCheck" value="physics">
                      <label class="form-check-label " for="physics">Physics</label>
                  </div>                    
                </li>
              </ul>
            </li>
            <!-- Social & Behavioral Sciences Department  -->
            <li class="pl-3">
              <a href="#pageSubmenu6" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Social & Behavioral Sciences</a>
              <ul class="collapse list-unstyled pl-3" id="pageSubmenu6">
                <li>
                  <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input categoricalCheck" value="anthropology">
                      <label class="form-check-label " for="anthropology">Anthropology</label>
                  </div>                    
                </li>
                <li>
                  <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input categoricalCheck" value="economics">
                      <label class="form-check-label " for="economics">Economics</label>
                  </div>                    
                </li>
                <li>
                  <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input categoricalCheck" value="ethic studies">
                      <label class="form-check-label " for="ethic studies">Ethic Studies</label>
                  </div>                    
                </li>
                <li>
                  <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input categoricalCheck" value="gender studies">
                      <label class="form-check-label " for="gender studies">Gender Studies</label>
                  </div>                    
                </li>
                <li>
                  <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input categoricalCheck" value="geography">
                      <label class="form-check-label " for="geography">Geography</label>
                  </div>                    
                </li>
                <li>
                  <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input categoricalCheck" value="global studies">
                      <label class="form-check-label " for="global studies">Global Studies</label>
                  </div>                    
                </li>
                <li>
                  <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input categoricalCheck" value="history">
                      <label class="form-check-label " for="history">History</label>
                  </div>                    
                </li>
                <li>
                  <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input categoricalCheck" value="humanities">
                      <label class="form-check-label " for="humanities">Humanities</label>
                  </div>                    
                </li>
                <li>
                  <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input categoricalCheck" value="philosophy">
                      <label class="form-check-label " for="philosophy">Philosophy</label>
                  </div>                    
                </li>
                <li>
                  <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input categoricalCheck" value="political science">
                      <label class="form-check-label " for="political science">Political Science</label>
                  </div>                    
                </li>
                <li>
                  <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input categoricalCheck" value="psychology">
                      <label class="form-check-label " for="psychology">Psychology</label>
                  </div>                    
                </li>
                <li>
                  <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input categoricalCheck" value="religious studies">
                      <label class="form-check-label " for="religious studies">Religious Studies</label>
                  </div>                    
                </li>
                <li>
                  <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input categoricalCheck" value="sociology">
                      <label class="form-check-label " for="sociology">Sociology</label>
                  </div>                    
                </li>
              </ul>
            </li>
            <!-- Technology Department  -->
            <li class="pl-3">
              <a href="#pageSubmenu7" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Technology</a>
              <ul class="collapse list-unstyled pl-3" id="pageSubmenu7">
                <li>
                  <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input categoricalCheck" value="airframe & powerplant technology">
                      <label class="form-check-label " for="airframe & powerplant technology">Airframe & Powerplant Technology</label>
                  </div>                    
                </li>
                <li>
                  <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input categoricalCheck" value="architectural technology">
                      <label class="form-check-label " for="architectural technology">Architectural Technology</label>
                  </div>                    
                </li>
                <li>
                  <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input categoricalCheck" value="aviation science">
                      <label class="form-check-label " for="aviation science">Aviation Science</label>
                  </div>                    
                </li>
                <li>
                  <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input categoricalCheck" value="construction technology">
                      <label class="form-check-label " for="construction technology">Construction Technology</label>
                  </div>                    
                </li>
                <li>
                  <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input categoricalCheck" value="electronics technology">
                      <label class="form-check-label " for="electronics technology">Electronics Technology</label>
                  </div>                    
                </li>
                <li>
                  <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input categoricalCheck" value="heating & air conditioning technology">
                      <label class="form-check-label " for="heating & air conditioning technology">Heating & Air Conditioning Technology</label>
                  </div>                    
                </li>
                <li>
                  <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input categoricalCheck" value="manufacturing technology">
                      <label class="form-check-label " for="manufacturing technology">Manufacturing Technology</label>
                  </div>                    
                </li>
                <li>
                  <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input categoricalCheck" value="welding technology">
                      <label class="form-check-label " for="welding technology">Welding Technology</label>
                  </div>                    
                </li>
              </ul>
            </li>
            <!-- Visual & Performing Arts Department  -->
            <li class="pl-3">
              <a href="#pageSubmenu8" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Visual & Performing Arts
              </a>
              <ul class="collapse list-unstyled pl-3" id="pageSubmenu8">
                <li>
                  <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input categoricalCheck" value="art">
                      <label class="form-check-label " for="art">Art</label>
                  </div>                    
                </li>
                <li>
                  <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input categoricalCheck" value="dance">
                      <label class="form-check-label " for="dance">Dance</label>
                  </div>                    
                </li>
                <li>
                  <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input categoricalCheck" value="digital media arts & design">
                      <label class="form-check-label " for="digital media arts & design">Digital Media Arts & Design</label>
                  </div>                    
                </li>
                <li>
                  <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input categoricalCheck" value="film & television">
                      <label class="form-check-label " for="film & television">Film & Television</label>
                  </div>                    
                </li>
                <li>
                  <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input categoricalCheck" value="music">
                      <label class="form-check-label " for="music">Music</label>
                  </div>                    
                </li>
                <li>
                  <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input categoricalCheck" value="photography">
                      <label class="form-check-label " for="photography">Photography</label>
                  </div>                    
                </li>
                <li>
                  <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input categoricalCheck" value="theatre arts">
                      <label class="form-check-label " for="theatre arts">Theatre Arts</label>
                  </div>                    
                </li>
              </ul>
            </li>

      </form>
    </nav>
  </div>
  
  <!-- Main -->
<main role="main" class="col-md-9 ml-sm-auto px-4 pt-3">
    <div class="row">
      <div class="col mr-auto pt-4">
        <p>Browse projects</p>
      </div>
      <div class="col-auto">
            <!-- Search Form -->
            <form action="/search/" method="get">
              <div class="form-row px-3">
                  <div class="form-group col-8 reduce-spacing">
                      <label for="searchInput"></label>
                      <input name="q" id="searchInput" type="text" placeholder="Search..." class="form-control form-control-sm" aria-label="Search">
                  </div>
                  <div class="form-group col-4">
                      <label for="searchSelect"></label>
                      <select name="s" id="searchSelect" class="form-control form-control-sm">
                          <option selected value="all">All fields</option>
                          <option value="title">Title</option>
                          <option value="author">Author</option>
                          <option value="mentor">Mentor</option>
                          <option value="tagline">Keywords</option>
                          
                      </select>
                  </div>
              </div>
            </form>
      </div>
      <div class="dark-line"></div>
    </div>
    <div id="search-results">
      <!-- Ajax search results -->
      <!-- End Ajax results -->
    </div>
  </main>
  </div>
</div>
  <!-- Javascript -->

  <style>


    #sidebar.active {
      margin-left: -250px;
    }
        
    a:hover, a:focus {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;
    }

    #sidebar .sidebar-header {
        padding: 20px;
    }

    #sidebar ul.components {
        padding: 20px 0;
        /* border-bottom: 1px solid #47748b; */
    }

    #sidebar ul p {
        padding: 10px;
    }

    #sidebar ul li a {
        padding: 10px;
        font-size: 0.9rem;
        display: block;
        color: #606060;
    }
    /* #sidebar ul li a:hover {
        color: #fff;
        background: #efb422;
    } */

    #sidebar ul li.active > a, a[aria-expanded="true"] {
        color: #606060;
    }
    ul ul a, label {
        font-size: 0.9em !important;
        padding-left: 8px !important;
    }



    a[data-toggle="collapse"] {
        position: relative;
    }

    .dropdown-toggle::after {
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }
    @media (max-width: 900px) {
      #sidebar {
          margin-left: -250px;
      }
      #sidebar.active {
          margin-left: 0;
      }
    }
  
  </style>
  {% block js%}
  <script>
    $(document).ready(function () {

      $('#sidebarCollapse').on('click', function () {
          $('#sidebar').toggleClass('active');
      });

    });

    $(document).ready(function () {

    $("#sidebar").mCustomScrollbar({
        theme: "minimal"
    });

    $('#sidebarCollapse').on('click', function () {
        // open or close navbar
        $('#sidebar').toggleClass('active');
        // close dropdowns
        $('.collapse.in').toggleClass('in');
        // and also adjust aria-expanded attributes we use for the open/closed arrows
        // in our CSS
        $('a[aria-expanded=true]').attr('aria-expanded', 'false');
    });

    });
  
    $('.list-group-item .custom-control-label').on('click', function(){
      var checkBox = $(this).prev('input'); 
      
      if($(checkBox).attr('checked'))
        $(checkBox).removeAttr('checked');
      else
        $(checkBox).attr('checked', 'checked');
        
      return false;

    })
  </script>
  {% endblock %}
  {% endblock %}
</body>
</html>