<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Custom static style -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'pages/css/style.css' %}">

    <!-- Title -->
    <title>Archive Project | Student Project and Research Symposium Club</title>

</head>

<body>
    <!-- Navbar-->
    <div class="d-flex flex-column flex-row align-center p-3 px-md-4 mb-3 bg-theme border-bottom shadow-sm">
        <nav class="my-2 my-md-0 mr-md-3" style="text-align: center">
            <a class="p-2 text-dark" href="/">Home</a>
            <a class="p-2 text-dark" href="/alumni_tree/">Alumni Tree</a>
            <a class="p-2 text-dark" href="/about/">About us</a>
            <a class="p-2 text-dark" href="/contact/">Contact</a>
        </nav>
    </div>

    <!-- Search -->
    <div id="home-center" class="col mx-auto d-block">
        <img class="img-fluid mx-auto d-block" src="{% static 'pages/images/logo.png' %}" alt="logo" style="max-width: 60%">
        
        <!-- Search Form -->
        <form action="/result/" method="get" style="margin-top: -2rem">
            <div class="form-row">
                <div class="form-group col-md-10 reduce-spacing">
                    <label for="searchInput"></label>
                    <input name="q" id="searchInput" type="text" placeholder="Search..." class="form-control custom-form" aria-label="Search">
                </div>

                <div class="form-group col-md-2 custom-form-sm custom-form">
                    <label for="searchFieldSelect"></label>
                    <select name="s" id="searchFieldSelect" class="form-control custom-form">
                        <option selected>All fields</option>
                        <option value="title">Title</option>
                        <option value="author">Author</option>
                        <option value="mentor">Mentor</option>
                        <option value="tagline">Tag</option>
                        
                    </select>
                </div>
            </div>
            <input class="mx-auto d-block btn btn-primary my-2 my-sm-0" type="submit" value="Search"></input>
        </form>

        <!-- Quick Introduction -->
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate</p>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>