<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    {% load static %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">

    <!-- Custom static style -->
    <link rel="stylesheet" type="text/css" href="{% static 'pages/css/style.css' %}">

    <!-- Icon Supply via Google Web Fonts -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- Title -->
    <title>Archive Project | Student Project and Research Symposium Club</title>

</head>

<body>
    <!-- Navbar-->
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
        <a class="my-0 mr-md-auto font-weight-normal">
        </a>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-4 nav-text" href="/">Home</a>
            <a class="p-4 nav-text" href="/browse/">Browse projects</a>
            <a class="p-4 nav-text" href="/#about">About us</a>
            <a class="p-4 nav-text" href="/#contact">Contact</a>
        </nav>
      </div>

    <div style="height: 600px;">
        <img class="cover-bg img-fluid" src="{% static 'pages/images/bg_1.png' %}">

        <!-- Search -->
        <div class="home-center home-gray-block" style="opacity: .59; "></div>
        <div class="home-center col mx-auto d-block mt-5 pt-5">
            <img class="img-fluid mx-auto d-block mb-4 pt-5" src="{% static 'pages/images/logo_1.png' %}" alt="logo" style="max-height: 8.5rem; max-width: auto;">
                
            <!-- Search Form -->
            <form action="/browse/" method="get">
                    <div class="form-group reduce-spacing px-3">
                        <label for="searchInput"></label>
                        <input name="q" id="searchInput" type="text" placeholder="Search..." class="form-control custom-form shadow-lg" aria-label="Search">
                    </div>
                    <!-- <input class="form-group mx-auto d-block btn btn-outline-warning py-2 mt-4" type="submit" value="Search"></input>

                        <div class="form-group col-md-2 custom-form-sm custom-form">
                            <label for="searchFieldSelect"></label>
                            <select name="s" id="searchFieldSelect" class="form-control custom-form shadow-lg">
                                <option selected value="all">All fields</option>
                                <option value="title">Title</option>
                                <option value="author">Author</option>
                                <option value="mentor">Mentor</option>
                                <option value="tagline">Tag</option>
                                
                            </select>
                        </div> -->
                    
            </form>
            <div class="container pt-5">
                <a href="/browse/" class="underline-text text-light">or browse projects here</a>
            </div> <!-- END HOMECENTER -->
        </div>

        <a href="#about" class="mx-auto d-block btn btn-xl btn-circle btn-light shadow-lg mt">
            <i class="fas fa-chevron-down " style="color: #848484;"></i>
        </a>
    </div>

    <div class="custom-container-2"> 
        <!-- About Us -->
        <div class="my-5"></div>

        <div class="custom-card-1" id="about">
            <div class="row">
                <div class="col-md-8">
                    <h1>About us</h1>
                    <div class="deco-layout-block"></div>
                    <p>We’re the Student Project and Research Symposium Club of Orange Coast College. As a community of aspired researchers and developers who are actively participating in OCC’s annual research symposium, we set out to promote and fortify the student research community of OCC with resources and workshops, namely peer review sessions, presentation mock-ups, networking parties, etc.</p>
                    <p>This website serves as an archive of past symposium projects and researches which have been granted display permission by their rightful creators. We hope you find this website to be an useful tool to jumpstart your very own project and get a feel of the standards for OCC symposium submissions.</p>
                </div>
                <div class="col-md-4 d-none d-md-block">
                    <img class="home-img" src="{% static 'pages/images/science_1.png' %}" alt="Picture Of Scientific Reseach">
                </div>
            </div>
        </div>
        <div class="dark-line"></div>
        <!-- Contact -->
        <div class="custom-card-2" id="contact">
            <h1>Contact us</h1>
            <div class="deco-layout-block"></div>
            <p>If you wish to acquire contacts of a listed researcher or have any lingering question, worry, feel free to send us an email as we’re more than happy to help. We are also open to collaboration and recruits. For more information, please contact us via the address below.</p>
            <p>Email: occsparsclub@gmail.com</p>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>