<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <div>
        <div class="container pt-5 px-3">
        <div class="container px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-4 mb-3 border-bottom border-secondary">
                <h4>{{ object.title }}</h4>
            </div>
        </div>
                
            <table class="container table table-borderless table-sm mt-4">
                <tr class="row">
                    <td class="px-5 col-4"><strong>Division: </strong></td>
                    <td class="col-8">{{ object.get_division_display }}</td>
                </tr>
                <tr class="row">
                    <td class="px-5 col-4"><strong>Author(s): </strong></td>
                    <td class="col-8">
                        {% for author in project.author.all %}
                            {{ author.full_name }}
                        {% endfor %}
                    </td>
                </tr>
                <tr class="row">
                    <td class="px-5 col-4"><strong>Mentor(s): </strong></td>
                    <td class="col-8">{{ object.mentor }}</td>
                </tr>
                <tr class="row">
                    <td class="px-5 col-4"><strong>Year: </strong></td>
                    <td class="col-8">{{ object.year }}</td>
                </tr>
                <tr class="row">
                    <td class="px-5 col-4"><strong>Presentation Format: </strong></td>
                    <td class="col-8">{{ object.get_presentation_format_display }}</td>
                </tr>
                <tr class="row">
                        <td class="px-5 col-4"><strong>Cited Sources: </strong></td>
                        <td class="col-8">{{ object.cited_source }}</td>
                    </tr>
                <tr class="row">
                    <td class="px-5 col-4"><strong>Tags: </strong></td>
                    <td class="col-8">{{ object.tagline }}</td>
                </tr>
                <tr class="row">
                    <td class="px-5 col-4"><strong>Slides/poster: </strong></td>
                    <td class="col-8"><a href="{{ object.drive_folder_link }}">See more</a></td>
                </tr>
                <tr class="row">
                    <td class="px-5 col-12">
                        <strong>Abstract:</strong>
                        <p>{{ object.abstract|linebreaks }}</p>
                    </td>
                </tr>
            </table>
            
            <div class="container mx-3 my-5">                
                <p class="my-3"></p>
            </div>

        </div>
    </div>
    {% endblock %}
</body>
</html>